
<a class="logo" href="/">
  <img src="/logo.svg" alt="Bean Scene">
</a>

<style>
  a {
    display: block;

    transition: filter 0.3s ease;
    will-change: filter;
  }
  a:hover {
    filter: brightness(85%);
  }
</style>