---
import Logo from "../header/Logo.astro"
---

<div class="about-company">
  <Logo />
  <p>
    Bean Scene is a cozy, vibrant coffee shop dedicated to serving high-quality brews in a welcoming atmosphere.
    With a focus on ethically sourced beans and artisanal roasting techniques, every cup is crafted to perfection.
    Whether you're stopping by for your daily espresso or settling in with a book, Bean Scene offers the perfect blend of comfort and caffeine.
  </p>
</div>

<style>
  .about-company {
    color: var(--white);
    font-size: 14px;
    line-height: 22px;
  }
  
</style>